/*
Project: Personal website
Description: this is our personal site project, it will be posted github using gh-pages
Color theme:
  -Primary color: 4ACF90
  -Scondary color: FFE75F
  -Complement color: FF9747
  -base color: FA6767
*/

/*===== Global Styles =====*/
  body, html{
  margin: 0;
  padding: 0;

}
  ul{
  list-style-type: none;
}
  a{
    text-decoration: none;
    color: #333333;

}
.container{
  margin-left: 15px;
  margin-right: 15px;
}
h1, h2{
  margin: none;
}
.border {
  border-bottom: 3px solid #fff;
  padding: 20px 0px;
}
/*=====Header Styles=====*/
  header{
    height: 100px;
    background-color: #4ACF90;
    color: #373737;
  }
  .logo{
    width: 30%;
    float: left;
    margin-top: 25px;
  }
  .logo h1{
    text-align: center;
    margin: 0;
  }
  .menu{
    width: 30%;
    float: left;
    margin-top: 2%;
    margin-left: 11%;
  }

  .menu li{
    float: left;
  }
  .menu li:after{
    padding-right: 7px;
    content: " | "
  }
  .icons{
    width: 30%auto;
    float: right;
    margin-top: 2%;
    font-size: 30px;
    margin-right: 7%;
  }
  .sm-icons{
    padding: 7px;
  }
  /*=====Baner Styles=====*/
  #banner{
    height: 299px;
    background:url("../img/cars2.jpg") center;
    /*background-attachment: fixed;*/
    background-repeat: no-repeat;
    background-size:contain;
   }
   #banner h1{
     text-align: center;
     margin: 0;
     padding-top: 9%;
     font-size:3em;
     color: #333;
     text-shadow: 0 1px 0 #ccc,
              0 2px 0 #c9c9c9,
              0 3px 0 #bbb,
              0 4px 0 #b9b9b9,
              0 5px 0 #aaa,
              0 6px 1px rgba(0,0,0,.1),
              0 0 5px rgba(0,0,0,.1),
              0 1px 3px rgba(0,0,0,.3),
              0 3px 5px rgba(0,0,0,.2),
              0 5px 10px rgba(0,0,0,.25),
              0 10px 10px rgba(0,0,0,.2),
              0 20px 20px rgba(0,0,0,.15);

   }

   /*=====Skills Styles=====*/

   #skills{
     background-color: #FFE75F;
     height: 475px;
     margin: none;
     color: #373737;

   }
   #skills .box{
     height: 100%;
     width: 25%;
     border: 3px solid #fff;
     display: inline-block;
     margin: 30px 2% 10px 2%;
     padding: 15px 20px;
      border-radius: 5%;
   }
   #code{
     margin:16.5%;
   }
   #css{
     margin: 20%;
   }
   #html5{
      margin:25.1%;
   }
   .skills-icon{
     height: 50px;
     width: 50px;
     margin: 0 auto;
     border: 2px solid #373737;
     border-radius: 100%;
     background-color: #fff;
   }


   .skills-icon i{
     font-size: 2em;
     color: #373737;
     margin: 9px 11px;

   }

   .skills-info h2{
      text-align: center;
      margin-top: 10px;
   }

   .skills-info p{
     text-align: justify;
     line-height: 22px;
   }


  /*=====Begin about section=====*/

   #about{
     background-color: #FF9747;
     width: auto;
     height: 500px;
   }
   #text{
     height: auto;
     width: 740px;
     float: right;
     border: dashed 1px;
     margin-top: -10%;
     margin-right: 2%;
     padding: 1%;
     color: #373737;


   }
   #text h1{
     text-align: center;
     font-size: 2em;
   }
   #picture{
      height: 200px;
      width: 500px;
   }
   #lion{
     height: 118%;
     width: 80%;
     border-radius: 100%;
     margin-top: 23%;
     margin-left: 10%;
   }

   /*=====Begin Footer=====*/
   #footer{
     height: 75px;
     background-color: #FA6767;
     padding: 4%;

   }
   .icons2 {
     text-align: center;
     font-size: 60px;
     margin-top: 1%;
     border-top: 2px solid #373737;


   }
   #kevin{
     text-align: center;
     font-size: 25px;
     color: #373737;

   }
   .icons2 a i{
     color: #373737;
   }
   /*testing gh pages*/
   /*=====This is the about page=====*/
   .about{
     background-color: #FF9747;
     height: 400px;
     padding: 2%;
   }
   #title{
     font-size: 3em;
     text-align: center;
     text-shadow: 0 1px 0 #ccc,
              0 2px 0 #c9c9c9,
              0 3px 0 #bbb,
              0 4px 0 #b9b9b9,
              0 5px 0 #aaa,
              0 6px 1px rgba(0,0,0,.1),
              0 0 5px rgba(0,0,0,.1),
              0 1px 3px rgba(0,0,0,.3),
              0 3px 5px rgba(0,0,0,.2),
              0 5px 10px rgba(0,0,0,.25),
              0 10px 10px rgba(0,0,0,.2),
              0 20px 20px rgba(0,0,0,.15);
    color: #4ACF90;

   }
   #pic{
  margin: 1%;
   }
   #pic img{
     width: 30%;
     height: 30%;
     border-radius: 5%;
     border: 5px solid #4ACF90;
     float: left;
   }
   #abouttext{
     float: right;
     width: 65%;
   }
   /*====Video Section=====*/
   #video{
     width: 100%;
     height: 500px;
     background-color: #FFE75F
   }
   #div{
     height: 100%;
     width: 75%;
     margin: 0 auto;
     background-color: #FFE75F;
   }
   iframe{
     margin: 1% 6%;
   }
   /*=====Begin contact section=====*/
   .map{
     background-image: url("http://b.fastcompany.net/multisite_files/fastcompany/poster/2013/11/3021587-poster-map.jpg") ;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-position: center;
     /*background-size: contain;*/
     height: 650px;
   }
   #maps{
     padding-left: 300px;
     padding-top: 100px;
      opacity: 0.9;

   }
    .contact{
      height: 500px;
      background-color: white;
       background-image: url("http://alvordschools.org/cms/lib8/CA01900929/Centricity/Shared/contact%20us%20icon.jpg") ;
       background-repeat: no-repeat;
       background-attachment: fixed;
       background-position: center;
       background-size: contain;
    }
    #contactlogo{

      height: 80px;
      margin: none;
      text-align: center;
      font-size: 3em;
    }
    #info{

      height:400px;
      width: 415px;
      float: left;
      padding-left: 20px;
      margin-left: 250px;

    }
    #address{

      height: 200px;
      width: 200px;
      float: right;
      margin-right:333px;
      font-size: 1.3em;

    }
